<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login-style.css">
    <title>Portal do Doador</title>
</head>

<body>
    <div class="row align-items-center d-flex w-100 h-100">
        <div class="col-2 perfil-form d-flex h-100">
            <div class="align-items-center btn-group-vertical mx-auto">
                <img id="Logo-Perfil" class="mx-auto" src="img/Logo-Hemoce-Perfil.png">
                <label class="text-white"><strong>Daniel Nascimento</strong></label>
                <label class="text-white"><small>RG: 1234567890-1</small></label>
                <label class="text-white"><small>Tel: (88) 99912-3456</small></label>
                <h1 class="text-white"><strong>1</strong></h1>
                <h2 class="text-white"><strong>Doação</strong></h2>
                <label class="text-white"><small><small>Última doação</small></small></label>
                <label class="text-white"><strong>24/07/2015</strong></label>
                <img id="Star-Logo" class="mx-auto" src="img/star-icon.png">
            </div>
        </div>
        <div id="" class="col-8 border border-danger align-items-center mx-auto px-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-white mx-4">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Dados <span class="sr-only">(página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Exames</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Doações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Carteirinha</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Agendamento</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="i-form" style="background-color: #ffffff;">
                <div class="">
                    <form class="px-4 mx-auto">
                        <div class="row mb-2">
                            <div class="form-group col-md-4">
                                <label for="inputID4">ID:</label>
                                <input type="number" class="form-control" id="inputID4" placeholder="45681235494">
                            </div>
                            <div class="form-group col-md-7">
                                <label for="inputNome4">Nome Completo:</label>
                                <input type="text" class="form-control" id="inputNome4" placeholder="Daniel Nascimento Kpoper">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col-md-3">
                                <label for="inputRG4">RG:</label>
                                <input type="number" class="form-control" id="inputRG4" placeholder="123456789.1">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputCPF4">CPF:</label>
                                <input type="number" class="form-control" id="inputCPF4" placeholder="123.456.789-10">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputEmail4">E-mail:</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="daniel_IloveBTS@gmail.com">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col-md-3">
                                <label for="inputDateOfBirth4">Data de Nascimento:</label>
                                <input type="date" class="form-control" id="inputDateOfBirth4" placeholder="06/06/2006">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAge4">Idade:</label>
                                <input type="number" class="form-control" id="inputAge4" placeholder="19">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputGender">Sexo:</label>
                                <select id="inputGender" class="form-control">
                                    <option selected>Escolher...</option>
                                    <option>Feminino</option>
                                    <option>Masculino</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputBloodType4">Tipo Sanguíneo:</label>
                                <input type="text" class="form-control" id="inputBloodType4" placeholder="O-">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col-md-4">
                                <label for="inputPhone4">Telefone:</label>
                                <input type="number" class="form-control" id="inputPhone4" placeholder="(88) 01234-5678">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCivilStatus">Estado Civil:</label>
                                <select id="inputCivilStatus" class="form-control">
                                    <option selected>Escolher...</option>
                                    <option>Solteiro(a)</option>
                                    <option>Casado(a)</option>
                                    <option>Separado(a)</option>
                                    <option>Divorciado(a)</option>
                                    <option>Viúvo(a)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputNacionalidade4">Nacionalidade:</label>
                                <input type="text" class="form-control" id="inputNacionalidade4" placeholder="Coreano">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Endereço:</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputAddress2">Complemento:</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col-md-5">
                                <label for="inputCity">Cidade:</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEstado">Estado:</label>
                                <select id="inputEstado" class="form-control">
                                    <option selected>Escolher...</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="EX">Estrangeiro</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputCEP">CEP</label>
                                <input type="text" class="form-control" id="inputCEP">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark my-3">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>